<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetpalTheme"
        tools:targetApi="31">

        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".DistanceActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity2"
            android:exported="true"
            android:theme="@style/Theme.App.Starting"
            >
            <!--            android:theme="@style/Theme.App.Starting"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/Theme.PetpalTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".PetProfileActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps"
            android:parentActivityName=".PetProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PetProfileActivity" />
        </activity>
        <!--
               TODO: Cambiar forma de acceso a la API key de Maps:
               Once you have your API key (it starts with "AIza"), define a new property in your
               project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
               "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC7tdpxsHi1k3p22Xbgy1EkJxf2w4vNWo0" />
    </application>

</manifest>